*{
    margin: 0;
    padding: 0;
    /*you may use this to see the boxes on your html*/
    /*border: 0.5px solid black;*/
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/*it is not really black*/
.bg-black{
	/*background-color: #33488A;*/
	background-color: #003380;
	/*background-color: #003d99;*/
}
.navbar{
	
	box-shadow: 0px 2px 15px #333333;
}
.nav-link:hover{

	background-color: #7d90cf;
	box-shadow: 0px 15px 0px #7d90cf;
	
}

.landing{
	/*background: url(../images/carousel/c1.jpg);*/
	background-color: #F5F5F5;
	background-size: cover;
	
	height: 110vh;

	background-size: cover;
	background-position: center;
}

.carousel-caption>h5 ,p{
	color: black;

}

/*Floating Back-To-Top Button*/
   /* #myBtn {
        position: sticky;
        bottom: 10px;
        float: right;
        right: 18.5%;
        left: 77.25%;
        max-width: 30px;
        width: 100%;
        font-size: 12px;
        border-color: rgba(85, 85, 85, 0.2);
        background-color: rgb(100,100,100);
        padding: .5px;
        border-radius: 4px;

    }*/
/*On Hover Color Change*/
   /* #myBtn:hover {
        background-color: #7dbbf1;
    }*/
/*--------------------------------------------------------services*/

.container>div{
	/*margin-top: 50px;*/

	/*padding-top: 10px;*/

}

/*.col-lg-4{

	background-color: gray;
}*/
.services{
	background-color: F5F5F5;
	height: 100vh;
}

.services >h1{
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
}



.services-container-div >p{
	margin:0 auto;
	text-align: center;
}

.services-container-div >img{

	text-align: center;
	display: block;
	width: 100%;
	padding:0 20%;

}
/*--------------------------------------------------------gallery*/

.gallery{
	height: 100vh;
	background-color: #242424;
	color: white;
}

/*--------------------------------------------------------about us*/

.about-us{
	height: 100vh;
	/*background: url(../images/about.jpg);*/
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;

	/*color: 242424;*/
}
.map{
	padding:25px;
}
/*--------------------------------------------------------contact*/

/*.contact-us{
	height: 50vh;
	background-color: #F5F5F5;
	color: black;
}*/

/*--------------------------------------------------------footer*/
.footer{
	height: 100vh;
	background-color: #242424;
	color: white;
}


/*trying parallax*/

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

.bg1::after {
  background-image: url('../images/about.jpg');
}