*{
    margin: 0;
    padding: 0;
    /*you may use this to see the boxes on your html*/
     /* border: 0.5px solid whitesmoke; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* 
fonts
font-family: 'Playfair Display SC', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Crimson Text', serif
font-family: 'Work Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/



/*it is not really black*/
.bg-color{
	/*background-color: #33488A;*/
	background-color: #003380;
	/*background-color: #003d99;*/
}
.navbar{
	
	box-shadow: 0px 2px 15px #333333;
}

.nav-link:hover{

	/* background-color: #99c2ff; */
	box-shadow: 0px 1px 0px whitesmoke;
	transition: 0.1s;
	
}

.nav-item>a{
	color:whitesmoke;
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
}

.collapse{
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.collapse >.navbar-nav{
	display: flex; 
	
	justify-content: center;
	align-items: center;
}
.landing{
	background: url(../images/cat-h.png);
	
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	height: 100vh;

	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.landing>.main-title{

	
	
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	/*vh means the height of the current view*/
	/*take the max width*/
	
	/*will center the content horizontally */
	
	/* margin: 0;
  	position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translate(-50%, -50%); */
  	
}

.landing>.main-title>img{
	justify-content: center;
	align-items: center;
	height: 300px;
	width: auto;
	
}

.main-title>p{
	font-family: 'Playfair Display SC', serif;
	color:honeydew;
	font-size: 60px;
	text-shadow: 0px 1px 25px rgb(39, 38, 38);
	margin:auto;
	/* text-align: center; */
	display: inline-block;
}
.description>p{
	/* color:rgb(179, 176, 176); */
	color:honeydew;
	font-size: 25px;
	/* font-family: 'Work Sans', sans-serif; */
		
	/* font-family: 'Open Sans Condensed', sans-serif; */
	/* font-family: 'Raleway', sans-serif; */
	font-family: 'Roboto', sans-serif;
	/* font-family: 'Open Sans', sans-serif; */
	/* font-weight: 100; */
}
.booknow>button{
	
	padding: 3px 30px;
	color: whitesmoke;
	background-color: #003380;
	/* background-color: #252829; */
	border-radius: 0px;
	border-style: none;
}
.booknow>button:hover{
	box-shadow: 0px 2px 0px whitesmoke;
	transition: 0.1s;
}
.booknow>button>a{
	text-decoration: none;
	color:whitesmoke;
	font-family: 'Roboto', sans-serif;
	/* font-family: 'Open Sans Condensed', sans-serif; */
	/* font-family: 'Raleway', sans-serif; */
}

.carousel-caption>h5 ,p{
	color: black;

}

/*Floating Back-To-Top Button*/
   /* #myBtn {
        position: sticky;
        bottom: 10px;
        float: right;
        right: 18.5%;
        left: 77.25%;
        max-width: 30px;
        width: 100%;
        font-size: 12px;
        border-color: rgba(85, 85, 85, 0.2);
        background-color: rgb(100,100,100);
        padding: .5px;
        border-radius: 4px;

    }*/
/*On Hover Color Change*/
   /* #myBtn:hover {
        background-color: #7dbbf1;
    }*/
/*--------------------------------------------------------services*/

/* .container>div{
	
} */

.col-lg-2{

	/*background-color: gray;*/
	/*margin-top: 10px;*/
	text-align: center;



}
/* .col-lg-2>img{
	
} */

.services>p{
	padding-top: 60px;
	/*padding-top: 20px;*/
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color:gray;
	font-size: 40px;
	/* text-shadow: 0px 5px 10px lightgrey; */
	box-shadow: 0px 1px 0px gainsboro;
	
	/* text-align: center; */
	/* display: inline-block; */
}
.col-lg-7{
	padding-top:100px;
}
.services-msg{
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: black;
}
.services-msg>h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	
	color: black;
}

.services-msg>ul{
	list-style: none;
	text-align: center;
}

.services-msg-container>.jumbotron{
	background-color:rgb(253, 253, 244);
	border:none;
	margin-top: 50px;
	
}
.services-image>row{
	padding:20px;
}
.services{
	background-color: black;
	height: 100vh;
	padding-top: 20px;
	/* padding-bottom: 160px; */
	background: url(../images/bg-dog.png);
	background-size: cover;
	background-position: center;
		
	
}

.services >h1{
	padding-top: 80px;
	/*padding-top: 20px;*/
	margin-bottom: 20px;
	text-align: center;
}
.services-container-div{
	margin:0 5px;
	/* background-color: gray; */
	height: 100%;
	padding-bottom: 10px;
}
.services-container-div>.jumbotron{
	/* background: gray; */
	border: none;
	/* box-shadow: 0px 1px 1px black; */
	height: 100%;
	background-color: none;
	background:none;
	
	
}

.services-container-div>.jumbotron >p{
	margin:0 auto;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	height: auto;
	
}
.jumbotron >img{

	text-align: center;
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	/*padding:10px;*/

}


/*--------------------------------------------------------gallery*/
.facilities-slide>.jumbotron>h1{
	font-family: 'Roboto', sans-serif;
	/*box-shadow: 0px 1px 15px black;*/
}
.facilities-slide>.jumbotron{
	background:none;
}
.facilities-msg-container>.jumbotron{
	/*padding-top: 50px;*/
	background:none;
	color:whitesmoke;
	font-family: 'Roboto', sans-serif;
}
.col-lg-4>.facilities-text{
	padding-top: 10px;
	font-size: 20px;
	color: whitesmoke;
	font-family: 'Roboto', sans-serif;
	
}
.facilities-title{
	color: whitesmoke;
	font-family: 'Roboto', sans-serif;
}

.gallery{
	height: 100vh;
	background-color: rgb(58, 55, 55);
	color: black;
	padding-top: 20px;
	background: url(../images/cat-h2.png);
	background-size: cover;
	background-position: bottom;
}


.gallery >.container{
	padding-top: 65px;
	/*padding-top: 20px;*/
	/*margin-bottom: 20px;*/
	text-align: center;
}

.gallery-img img{
	/*text-align: center;*/
	/*display: block;*/
	width: 100%;
	height: auto;
}

.carousel-item img{
	max-width: 100%;
	height:auto;
	object-fit: contain;
}

.map>iframe{
	width: 100%;
	height: 400px;
	object-fit: contain;
}

/*--------------------------------------------------------about us*/

.about-us{
	height: 100vh;
	background: url(../images/about.jpg);
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;


	/*color: 242424;*/
}

.about-us>.container>.row{
	padding-top: 65px;
}

/*--------------------------------------------------------contact*/
.message{
	width:250px; 
	height:150px;
}
form{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.form-submit{
	
	padding: 3px 30px;
	color: whitesmoke;
	background-color: #003380;
	/* background-color: #252829; */
	border-radius: 0px;
	border-style: none;
}

.form-submit:hover{
	background-color: #aaadb3;
	color:black;
	transition: 0.3s;
}

/*.contact-us{
	height: 50vh;
	background-color: #F5F5F5;
	color: black;
}*/

.jumbotron{
	padding: 15px;
}
.display-4{
	font-size: 25px;

}
/* .lead{
	font-size: 17px;
} */



/*--------------------------------------------------------footer*/
.footer{
	height: 30vh;
	background-color: #242424;
	color: white;
	
}
.container>.social-media{
	padding-top: 30px;
	display: flex; 
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
.social-media a{
	

	color: #efefef;
	margin: 0 0.5rem;
	font-size: 3rem;
	opacity: .75;
}

.social-media a:hover{
	opacity: 1;
}

.booknow2{
	text-align: center;
	padding-top: 30px;
}
.booknow2>button{
	
	padding: 3px 30px;
	color: whitesmoke;
	background-color: #003380;
	/* background-color: #252829; */
	border-radius: 0px;
	border-style: none;
}
.booknow2>button:hover{
	box-shadow: 0px 2px 0px whitesmoke;
	transition: 0.1s;
}
.booknow2>button>a{
	text-decoration: none;
	color:whitesmoke;
	font-family: 'Roboto', sans-serif;
	
	/* font-family: 'Open Sans Condensed', sans-serif; */
	/* font-family: 'Raleway', sans-serif; */
}


/* 

This section is for the responsivenes


*/
/* hiding navar */
 /*
@media (min-width: 980px){
    .navbar {
        display: none;
	}
	
}*/

@media (min-width: 360px) and (max-width: 990px){

	.landing{
		background: url(../images/cat-v.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		
	}

	.landing>.main-title>img{
		
		height: 200px;
		width: auto;
		

		
	}
	.main-title>p{
		font-size: 40px;
	}

	.description>p{
		font-size: 13px;	
	}

	.booknow{
		display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
	}
	.booknow>button{
		margin-bottom: 10px;
		padding: 15px 40px;
		width: 200px;
	}
	
	.services{
		background-color: gray;
		height: auto;
		padding-top: 50px;
		padding-bottom: 160px;
		background: url(../images/bg-dog-dark-v.png);
		background-size: cover;
		background-position: bottom;
			
		
	}

	.gallery{
	height: auto;
	background-color: #242424;
	color: black;

	}

	.about-us{
	height: auto;
	background: none
	background-color: #F5F5F5;
	background-size: cover;
	background-position: bottom;
	}

	.footer{
	height: auto;
	background-color: #242424;
	color: white;
	}

	.booknow2{
		display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	.booknow2>button{
		margin-bottom: 10px;
		padding: 15px 40px;
		width: 200px;
	}
} 
